[push]
  default = simple
[pull]
  default = current
[user]
	name = Rany Keddo
	email = purzelrakete@gmail.com
[core]
	excludesFile = ~/.gitignore
  quotepath = false
  compression = 0
[color]
  diff = auto
  status = auto
  branch = auto
[diff]
  rename = copy
  color = auto
[apply]
  whitespace = strip
[pager]
  color = true
[alias]
  co = "checkout"
  ci = "commit"
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[branch]
  autosetuprebase = always
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[diff "jupyternotebook"]
  command = git-nbdiffdriver diff
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@gitlab.bsdevops.io:"]
	insteadOf = https://gitlab.bsdevops.io/
[url "ssh://git@gitlab.bsdevops.io/"]
	insteadOf = https://gitlab.bsdevops.io/
[init]
	defaultBranch = main
