# mac
.DS_Store

# python
*.pyc

# notebooks
scratch.ipynb
.ipynb_checkpoints

# local
.gnupg/*.asc
.gnupg/*.gpg
.gnupg/*.gpg~
.gnupg/random_seed
.mail/
.mutt/solarized*.muttrc
.netrwhist
.vim/spell
sasl.auth
supervise
tags
.gnupg/
__pycache__/

# org
TODO.org
backlog.md
backlog.txt
todo.md
todo.txt
