*.pyc
.DS_Store
.calendar/
.common/soundcloud.common
.emacs.d/auto-save-list/
.gnupg/*.asc
.gnupg/*.gpg
.gnupg/*.gpg~
.gnupg/random_seed
.irssi/away.log
.irssi/config
.irssi/config.autosave
.irssi/saved_colors
.mail/
.mutt/solarized*.muttrc
.netrwhist
.offlineimap/*lock
.offlineimap/Account*
.offlineimap/Repository*
.offlineimap/pid
TODO.org
sasl.auth
service/*/log/main/
supervise
tags
